@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: poppins;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #004d40;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 32px;
    font-weight: bold;
}
h1 span {
    color: #daa520;
}
.alt-id {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.description {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 77.9px;
    padding: 50px;
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.btn:hover {
    background: white;
    color: black;
    border-color: black;
} 




